*{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

.img-basic {
    max-width: 100%;
    object-fit: cover;
}

.btn {
    padding: 10px 25px;
    font-weight: 500;
}

.btn-primary {
    background: #04091e;
    color: white;
}

.btn-accent {
    background: #f6214b;
    color: white;
    cursor: pointer;
}

.contentItem {
    width: 100%;
    position: relative;
    overflow: hidden;

    .content__img {
        @extend .img-basic;
        transition: all 0.3s ease;
        &:hover {
            transform: scale(1.1);
            height: auto;
        }
    }

    .content__info-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        left: 25px;
        bottom: 25px;
        color: white;

        .content__button {
            @extend .btn;
            width: fit-content;
        }

        .content__button_accent {
            @extend .btn-accent;
        }

        .content__title {
            font-size: 20px;
        }

        .content__infos {
            display: flex;
            align-items: center;
            gap: 15px;

            .content__info {
                display: flex;
                gap: 5px;
                align-items: center;
                font-size: 12px;
            }
        }
    }
}

@mixin bottomContent($fdir, $imgContainerWidth: 100%, $infoContainerWidth: 100%) {
        width: 100%;
        display: flex;
        flex-direction: $fdir;
        gap: 10px;
        justify-content: space-between;
        align-items: center;

        .bottom-content__img-container {
            width: $imgContainerWidth;
            position: relative;
            overflow: hidden;

            .bottom-content__img {
                @extend .img-basic;
                transition: all 0.3s ease;
                &:hover {
                    transform: scale(1.1);
                    height: auto;
                }
            }
    
            .bottom-content__button {
                @extend .btn;
                position: absolute;
                left: 25%;
                top: 35%;
                width: fit-content;
            }
    
            .bottom-content__button_accent {
                @extend .btn-accent;
            }
        }
    
        .bottom-content__info-container {
            width: $infoContainerWidth;
            display: flex;
            flex-direction: column;
            gap: 10px;
    
            .content__title {
                font-size: 20px;
            }
    
            .bottom-content__infos {
                display: flex;
                align-items: center;
                gap: 15px;
                flex-wrap: wrap;
    
                .bottom-content__info {
                    display: flex;
                    gap: 5px;
                    align-items: center;
                    font-size: 11px;
                }
            }
        }
}

@mixin bottonContentHeader {
    background: $primary-bg;
    color: white;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

$outer-margin: 0 10%;
$primary-bg: #04091e;
$header-bg: #dfe3f4;
$section-margin-tb: 10px 0;